// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


// Loading animation
.loading {
    background-color: #eee;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 500001;
    margin-top: 0px;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    display: none;

    .loading-status {
        color: black;
        position: absolute;
        left: 0;
        top: 50px !important;
        font-size: 25px;
        display: block;
        width: 100%;
        text-align: center;
    }

    .loading-center {
        width: 100%;
        height: 100%;
        position: relative;
    }

    .loading-center-absolute {
        position: absolute;
        left: 50%;
        top: 50%;
        height: 150px;
        width: 150px;
        margin-top: -75px;
        margin-left: -75px;
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

       .circle{
        width: 180px;
        height: 180px;
        border: 10px inset rgb(133,224,242);
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -280px;
        margin-top: -100px;
        border-radius: 200px;
        -moz-animation: rotate 5s infinitelinear;
        -webkit-animation: rotate 5s infinite linear;
        animation: rotate 5s infinite linear;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

    .circle-small{
        width: 150px;
        height: 150px;
        border: 6px outset rgb(133,224,242);
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: -130px;
        margin-top: -81px;
        border-radius: 156px;
        -moz-animation: rotate-rev 3s infinite linear;
        -webkit-animation: rotate-rev 3s infinite linear;
        animation: rotate-rev 3s infinite linear;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

    .circle-big{
        width: 210px;
        height: 210px;
        border: 4px dotted rgb(133,224,242);
        display: block;
        position: fixed;
        top: 50%;
        left: 57%;
        margin-left: -109px;
        margin-top: -109px;
        border-radius: 214px;
        -moz-animation: rotate-rev 10s infinite linear;
        -webkit-animation: rotate-rev 10s infinite linear;
        animation: rotate-rev 10s infinite linear;
    }

    .circle-inner{
        width: 80px;
        height: 80px;
        background-color: rgb(133,224,242);
        display: block;
        position: fixed;
        top: 50%;
        left: 50%;
        margin-left: 30px;
        margin-top: -40px;
        border-radius: 80px;
        -moz-animation: pulse 1.5s infinite ease-in;
        -webkit-animation: pulse 1.5s infinite ease-in;
        animation: pulse 1.5s infinite ease-in;
        opacity: 1;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

    .circle-inner-inner{
        width: 100px;
        height: 100px;
        background-color: rgb(74,124,134);
        display: block;
        position: fixed;
        top: 50%;
        left: 23%;
        margin-left: 450px;
        margin-top: -50px;
        border-radius: 100px;
        -moz-animation: pulse 1.5s infinite ease-in;
        -webkit-animation: pulse 1.5s infinite ease-in;
        animation: pulse 1.5s infinite ease-in;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }

}
/*==============ANIMATIONS=================*/

/*==============ROTATE=====================*/

@-moz-keyframes rotate{
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}

@-webkit-keyframes rotate{
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}

@keyframes rotate{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

/*==============ROTATE-REV=================*/

@-moz-keyframes rotate-rev{
    0% {-moz-transform: rotate(0deg);}
    100% {-moz-transform: rotate(-360deg);}
}

@-webkit-keyframes rotate-rev{
    0% {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(-360deg);}
}

@keyframes rotate-rev{
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-360deg);}
}

/*==============PULSE======================*/

@-moz-keyframes pulse{
    0% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
    50% {
        -moz-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -moz-transform: scale(0.1);
        opacity: 0.2;
    }
}

@-webkit-keyframes pulse{
    0% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
    50% {
        -webkit-transform: scale(1);
        opacity: 0.8;
    }
    100% {
        -webkit-transform: scale(0.1);
        opacity: 0.2;
    }
}

@keyframes pulse{
    0% {
        transform: scale(0.1);
        opacity: 0.2;
    }
    50% {
        transform: scale(1);
        opacity: 0.8;
    }
  100% {
        transform: scale(0.1);
        opacity: 0.2;
    }
}
